body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.status-bar {
  display: flex;
  justify-content: center;
  background: #F2C14E;
}

.status-bar h2 {
  margin-top: 1rem;
}

.status-bar .badge {
  background: #423B0B;
}

.actions {
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #434343);
  background: linear-gradient(to right, #000000, #434343);
}

.central-wrapper {
  margin-top: 3rem;
  max-width: 45rem;
  height: auto;
  color: white;
  text-align: center;
}

.central-wrapper img {
  width: 100%;
}

.discover-col, .action-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.discover, .action {
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  border-radius: 5%
}

.discover-col {

}

.discover, .action {
  background: #83781B;
  color: white;
}

.action-col {

}

.thumb-wrap {
  height: 10px;
  width: 100px;
}

.thumb-wrap img {
  width: 100%;
  margin: 0 auto;
}
