h1 {
  text-align: center;
}

.status-bar {
  display: flex;
  justify-content: center;
  background: #99DDC8
}

.status-bar h2 {
  margin-top: 3%;
}


.status-bar .badge {
  background: #423B0B;
}


.discover-row, .action-row {
  display: flex;
  justify-content: center;
}

.discover, .action {
  height: 15rem;
  width: 15rem;
  margin: 5%;
  border-radius: 5%;
}

.discover-row {
  background: #7BA098;
}

.discover {
  background: #423B0B;
  color: white;
}

.discover-2 {
  background: #7BA098;
  color: white;
}

.action-row {
  background: #12EAEA
}

.action {
  background: #B0DB43;
  color: white;
}

.thumb-wrap {
  height: 10px;
  width: 100px;
}

.thumb-wrap img {
  width: 100%;
  margin: 0 auto;
}
